langchain
langchain-huggingface
llama-index
langchain-community
faiss-cpu
sentence-transformers
google-generativeai
pypdf
fastapi
uvicorn
python-multipart
tqdm
aiofiles  
langchainhub  
langchain-cli 
requests
torch